<?xml version="1.0"?>
<!--
/**
 * CorsHack module for Magento 2
 *
 * @package     Yireo_CorsHack
 * @author      Yireo
 * @copyright   Copyright 2023 Yireo (https://www.yireo.com/)
 * @license     Open Source License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GraphQl\Controller\GraphQl">
        <plugin name="Yireo_CorsHack::addHeadersToResponse" type="Yireo\CorsHack\Plugin\ControllerPlugin" />
        <arguments>
            <argument name="httpResponse" xsi:type="object">Yireo\CorsHack\Response\Http</argument>
        </arguments>
    </type>
</config>
